
/* GENERAL */

body {
  background: #fafafa;
  color: #444444;
  margin-top: 5rem;
/*
  background-image: url("../img/sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
*/
}

@font-face {
  font-family: 'IM Fell Great Primer';
  src: url("../fonts/IMFeGPrm29P.ttf");
}

* {
  font-family: 'IM Fell Great Primer', serif;
  color: #444444;
}



/* NAVBAR */

.bg-nav {background-color: #075970;}

.site-header .navbar-nav .nav-link {color: #cbd5db;}
.site-header .navbar-nav .nav-link:hover {color: #ffffff;}

.navbar-brand {
  letter-spacing: 0.05rem;
  word-spacing: 0.15rem;
}




.btn-bottom button {margin-top: 23px}

ul.bullets-1 li {list-style: "✧";}
/*
ul[class^=bullets] > li > * {padding-left: 0.5rem;}
*/

/*
.small-caps {font-variant: small-caps;}
*/

/*
input.dateinput {
  padding: 2px;
  width: 10.8319rem;
}
*/

div.controls p.help-block {margin-top: 0.3rem;}
div.controls p.help-block strong {color: #c90d00;}