
/* GENERAL */

body {
  background: #fafafa;
  color: #444444;
  margin-top: 5rem;
}

@font-face {
  font-family: 'IM Fell Great Primer';
  src: url("../fonts/IMFeGPrm29P.ttf");
}

* {
  font-family: 'IM Fell Great Primer', serif;
  color: #444444;
}


/* NAVBAR */

.bg-nav {background-color: #075970;}

.site-header .navbar-nav .nav-link {color: #cbd5db;}
.site-header .navbar-nav .nav-link:hover {color: #ffffff;}

.navbar-brand {
  letter-spacing: 0.05rem;
  word-spacing: 0.15rem;
}

@media screen and (min-width: 600px) {
  button.btn-bottom {margin-top: 23px;}
}


/* FORMS */

div.controls p.help-block {margin-top: 0.3rem;}
div.controls p.help-block strong {color: #c90d00;}

div.pub-date select {
  font-size: 21px;
}

.textinput, .urlinput, .numberinput {
  width: 100%;
  max-width: 15.3rem;
}

.lang .selectmultiple {
  width: 100%;
  max-width: 6rem;
  height: 10rem;
}

.auth .selectmultiple {
  width: 100%;
  max-width: 20rem;
  height: 10rem;
}

div.results {
  font-size: 1.1rem;
}