{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Add new book</title>
{% endblock title %}

{% block content %}

  <header>
  
  </header>

  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form method="POST">    <!--    enctype="multipart/form-data"   -->
            {% csrf_token %}

            <div class="form-row">
              <div class="col-md-12">{{ form.title|as_crispy_field }}</div>
              {% if form.title.errors %}<div class="col-md-12">{{ form.title.errors }}</div>{% endif %}
            </div>

            <div class="form-row">
              <div class="col-md-4">{{ form.authors|as_crispy_field }}</div>
              {% if form.authors.errors %}<div class="col-md-4">{{ form.authors.errors }}</div>{% endif %}
            </div>
            
            <div class="form-row">
              {% for author_form in author_formset %}
                <div class="col-sm-3">{{ author_form|crispy }}</div>
              {% endfor %}
            </div>
            
            <div class="form-row">
              <div class="col-md-3">{{ form.pub_year|as_crispy_field }}</div>
              <div class="col-md-3">{{ form.pages|as_crispy_field }}</div>
              {% if form.pub_year.errors %}<div class="col-md-3">{{ form.pub_year.errors }}</div>{% endif %}
              {% if form.pages.errors %}<div class="col-md-3">{{ form.pages.errors }}</div>{% endif %}
            </div>
            <div class="form-row">
              <div class="col-md-3">{{ form.isbn_10|as_crispy_field }}</div>
              <div class="col-md-3">{{ form.isbn_13|as_crispy_field }}</div>
              {% if form.isbn_10.errors %}<div class="col-md-3">{{ form.isbn_10.errors }}</div>{% endif %}
              {% if form.isbn_13.errors %}<div class="col-md-3">{{ form.isbn_13.errors }}</div>{% endif %}
            </div>
            <div class="form-row">
              <div class="col-md-3">{{ form.language|as_crispy_field }}</div>
              <div class="col-md-3">{{ form.cover_url|as_crispy_field }}</div>
              {% if form.language.errors %}<div class="col-md-3">{{ form.language.errors }}</div>{% endif %}
              {% if form.cover_url.errors %}<div class="col-md-3">{{ form.cover_url.errors }}</div>{% endif %}
            </div>
            <div>
              <br>
              <input class="btn btn-dark" type="submit" value="Dodaj"/>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}