{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
  <title>Add a book</title>
{% endblock title %}


{% block content %}
  <div class="col-md-12">
    
    <!--  MESSAGES  -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    
    <!--  FORMS        -->
    <form method="POST">
      {% csrf_token %}
      
      <!--    Title        -->
      <div class="form-row">
        <div class="col-md-12 form-group">{{ book_form.title|as_crispy_field }}</div>
    <!--              {% if book_form.title.errors %}<div class="col-md-12 alert alert-danger">{{ book_form.title.errors }}</div>{% endif %}-->
      </div>
      
      <!--    First author        -->
      <div class="form-row">
        <div class="col-md-3 form-group mr-5">{{ first_author_form.name|as_crispy_field }}</div>
    <!--              {% if first_author_form.name.errors %}<div class="col-md-4">{{ first_author_form.name.errors }}</div>{% endif %}-->
        <div class="col-md-3 btn-bottom">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#authors" aria-expanded="false" aria-controls="authors">
            Add authors
          </button>
        </div>
      </div>

<!--            Additional authors-->
      <div id="authors" class="collapse form-row">
        {{ authors_fs.management_form }}
        {% for author_form in authors_fs %}
          <div class="col-md-3 form-group">{{ author_form.name|as_crispy_field }}</div>
        {% endfor %}
      </div>
      
      <!--    Publication date        -->
      <div class="form-row">
        <div class="col-md-4 form-group">{{ book_form.pub_date|as_crispy_field }}</div>
      </div>
      
      <!--    Remaining fields        -->
      <div class="form-row">
        <div class="col-md-4 form-group">{{ book_form.pages|as_crispy_field }}</div>
        <div class="col-md-4 form-group">{{ book_form.isbn|as_crispy_field }}</div>
      </div>
      <div class="form-row">
        <div class="col-md-4 form-group">{{ language_form.code|as_crispy_field }}</div>
        <div class="col-md-4 form-group">{{ book_form.cover_url|as_crispy_field }}</div>
      </div>
      
      <!--   Submit     -->
      <div>
        <input class="btn btn-dark" type="submit" value="Add"/>
      </div>
      
    </form>
  </div>
{% endblock content %}