{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
  <title>Import books</title>
{% endblock title %}


{% block content %}
  
  <div class="col-md-12">
    
    <!--  FORM        -->
    <form method="POST">
      {% csrf_token %}
      <div class="form-row">

        <div class="col-sm-6 col-md-4 col-lg-3 form-group">{{ form.q|as_crispy_field }}</div>
        <div class="col-sm-6 col-md-4 col-lg-3 form-group">{{ form.intitle|as_crispy_field }}</div>
        <div class="col-sm-6 col-md-4 col-lg-3 form-group">{{ form.inauthor|as_crispy_field }}</div>
      </div>
      <div class="form-row">
        <div class="col-sm-6 col-md-4 col-lg-3 form-group">{{ form.inpublisher|as_crispy_field }}</div>
        <div class="col-sm-6 col-md-4 col-lg-3 form-group">{{ form.subject|as_crispy_field }}</div>
        <div class="col-sm-6 col-md-4 col-lg-3 form-group">{{ form.isbn|as_crispy_field }}</div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-sm-6 col-md-4 form-group">{{ form.lccn|as_crispy_field }}</div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-sm-6 col-md-4 form-group">{{ form.oclc|as_crispy_field }}</div>
      </div>
      
      <br>
      <div>
        <input class="btn btn-dark" type="submit" value="Import"/>
      </div>
      
    </form>
    
    <br>
    <!--  MESSAGES  -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <ul>
      {% for book in books_list %}
        <li class="pb-3">
          {% if book.authors.all %} {{ book.authors.all|join:', ' }}, {% endif %}
          {% if book.title %} <i>{{ book.title }}</i>, {% endif %}
          
          {% if book.pub_date and book.pages %}
            pub. {{ book.pub_date }}, pp. {{ book.pages }}
          {% elif book.pub_date %}
            pub. {{ book.pub_date }}
          {% elif book.pages %}
            , pp. {{ book.pages }}
          {% endif %}
          
          {% if book.language and book.isbn %}
            [{{ book.language }}, ISBN-{{ book.isbn }}]
          {% elif book.language %}
            [{{ book.language }}]
          {% elif book.isbn %}
            [ISBN-{{ book.isbn }}]
          {% endif %}
          <br>
          {% if book.cover_url %}
            Cover: <a href="{{ book.cover_url }}">{{ book.cover_url }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  </div>
{% endblock content %}